<div>
  <%= render 'events/search' %>
</div>

<% if current_user != @user %>
  <h2 align="center"> <%= @user.full_name %>'s Profile</h2>
<% end %>
<% if @user.created_events.size > 0 %>
  <%= render 'table', collections: @user.created_events, title: "Hosting_events", id: "hosting_table" %>
<% else %>
  <div class='row well col-md-10 col-md-offset-1'>
    <p class="leading">You are not hosting any event yet. Please do host some and have fun!</p>
  </div>
<% end %>

<% collection_attend = @user.attend %>

<% if @user.events.oncoming.size > 0 %>
  <%= render 'table', collections: collection_attend, title: "Attending_events", id: "attending_table"%>
<%else%>
  <div class='row well col-md-10 col-md-offset-1'>
    <p class="leading">You are not attending any event yet and missing fun. Please do join events and enjoy with your friends and family!</p>
  </div>
<%end%>