<div>
  <%= render 'events/search' %>
</div>

<% if @user.created_events.size > 0 %>
  <%= render 'table', collections: @user.created_events, title: "Hosting_events"%>
<% else %>
  <div class='row well col-md-10 col-md-offset-1'>
    <p class="lead">You are not hosting any event yet. Please do host some and have fun!</p>
  </div>
<% end %>

<% collection_attend = current_user.attend %>

<% if collection_attend.size > 0 %>
  <%= render 'table', collections: collection_attend, title: "Attending_events"%>
<%else%>
  <div class='row well col-md-10 col-md-offset-1'>
    <p class="lead">You are not attending any event yet and missing fun. Please do join events and enjoy with your friends and family!</p>
  </div>
<%end%>