<div class="row margin_bottom">
  <div class="col-md-offset-2 col-md-4">
  <%= link_to event.name, event %>
  </div>
  <div class="col-md-4">
  <% if current_user == event.creator %>
    <%= link_to "Edit", edit_event_path(event), class: 'btn btn-info'%>
    <%= link_to "View", event, class: 'btn btn-info'%>
    <%= link_to "Delete", event_path(event), method: :delete,
                        data: { confirm: "Are you sure?"}, class: 'btn btn-danger'%>
  <% end %>
  </div>  
</div>