.left{
  float: left;
  width: 48%;
  margin-left: 10px;
}

.text_center{
  text-align: center;
}

.margin_bottom{
  margin-bottom: 10px;
}

.margin-top{
  margin-top: 15px;  
}

ul
{
  list-style-type: none;
}

.no-padding{
  padding: 0 !important;
}

.left-padding{
  padding-left: 15px !important;
}

