<% if obj.errors.any?%>
  <div class="alert-danger">
    <h2><%= pluralize(obj.errors.count, "error") %> prevented from the saving </h2>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>  
<% end %>